@font-face {
  font-family: 'black';
}
@font-face {
  font-family: 'bold';
  src: url(../css/fonts/Gilroy-Bold.woff2);
}
@font-face {
  font-family: 'extrabold';
  src: url(../css/fonts/Gilroy-Extrabold.woff2);
}
@font-face {
  font-family: 'medium';
  src: url(../css/fonts/Gilroy-Medium.woff2);
}
@font-face {
  font-family: 'regular';
  src: url(../css/fonts/Gilroy-Regular.woff2);
}

body{
  font-size: 11px;
  font-family: 'medium';
  text-align: left;
  color: #000;
  background: #fff;
  overflow-x: hidden;
}

header{
  display: flex;
  justify-content: space-between;
  height: 146px;
  margin: 0 auto;
  padding: 30px 40px 0;
  position: relative;
  z-index: 20;
}


header>a{
  width: 101px;
  height: 116px;
  background-image: url(../css/images/logo.svg);
}

@media (max-width : 768px){

  header>a{
      width: 80px;
      height: 92px;  
      background-size: 100% 100%;
  }
}


.head-right{
  display: flex;
}
.closemenu{
  z-index: 12;
  background-color: white !important;
}
.closemenu p{
  border-color: #159ee3 !important;
}


.activeside p, .activeside span{
  color: white;
}
.activeside .phone p::before{
  margin-right: 7px;
  background-image: url(../css/images/phone_icon.svg);
  background-size: 20px 20px;
  display: inline-block;
  width: 20px; 
  height: 20px;
  content:"";
}
.phone a{
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 800;
  font-family: 'black';
  margin-top: 5px;
} 


.main-phone{
  color: white;
  padding: 7px 30px;
}

.main-phone p::before{
  margin-right: 7px;
 background-image: url(../css/images/phone_icon.svg);
 background-size: 20px 20px;
 display: inline-block;
 width: 20px; 
 height: 20px;
 content:"";
}
.main-phone p{
  color: white;
}

.menu{
  width: 56px;
  height: 56px;
  z-index: 11;
  border-radius: 50%;
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu{
  z-index: 11;
  background: white;
  color: #159ee3;
}


.menu span{
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.menu p:first-child{
  top: 0px;
}
.menu p:nth-child(2){
  top: 7px;
}
.menu p:last-child{
  top: 14px;
}
.main-menu p{
  position: absolute;
  width: 20px;
  border: 1px solid #159ee3;
}

.active1 p:first-child{
  transition: .5s linear;
  width: 0px;
}
.active1 p:nth-child(3){
  transition: .5s linear;
  width: 0px;
  left: 0;
  border: none;
}

.active2 p:first-child{
  width: 20px;
  top: 7px;
  transition: .5s linear;
  transform: rotate(90deg);
}

.active2 p:last-child{
  border: none;
}
.remove2 p:first-child{
  transform: scale(0.05, 1);
  top: 0px;
  transition: .5s linear;
  transform: rotate(-90deg);
}
.remove1 p:last-child{
 display: block;
 transform: scale(1, 1);
 top: 7px;
 transition: .5s linear;
 transform: rotate(-90deg);
}

.remove2 p:last-child{
  transform: scale(0.05, 1);
  top: 14px;
  transition: .5s linear;
  transform: rotate(90deg);
}

.remove3 p:first-child , .remove2 p:last-child{
  transition: .5s linear;
  transform: scale(1, 1);
}

footer{ 

  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 40px 8px;
  color: rgb(220, 220, 220);
  align-items: center;
  font-size: 14px;
  z-index: 12;
}



@media (max-width : 778px){
  footer{
      flex-direction: column;
  }

  .footer-left  span{
      margin-right: 5px;
  }
}
#mainfooter{
 position: absolute;
 bottom: 0;
}

.footer-left {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer-left>div>span>img{
 width: 16px;
 height: 14px;
 margin: 0 5px;
}

.footer-left>div>a>img{
  width: 95px;
  height: 50px;
}

.footer-right i{
margin-left: 15px;
font-size: 15px;
}

.main-footer-right i{
  margin-left: 15px;
  font-size: 15px;
}

.footer-right i:hover{
  color: #159ee3;
}

.main-footer-right i:hover{
  color: white;
}
.footer-left span {
  margin-right: 15px;
}


/*aside nav----*/
.aside-nav.show-me {
  right: 0;
  box-shadow: -20px 0 20px 0 rgba(0, 0, 0, 0.15);
  clip-path: ellipse(110% 200% at 100% 50%);
}


.aside-nav{
  width: 665px;
  height: 100%;
  background-color: #159ee3;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 16;
  padding: 135px 0px 0 60px;
 overflow-y: scroll;
  clip-path: ellipse(100% 50% at 200% 50%);
  transition: all 0.45s linear; 
  box-shadow: 0px 0 0px 0 rgba(0, 0, 0, 0);
  overflow: hidden;
}

.aside-nav-content{
  height: calc( 100vh - 150px);
   display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

.aside-nav-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.aside-nav-content::-webkit-scrollbar-track {
  box-shadow: inset 10px 0px 5px #49acf3b4; 
  border-radius: 5px;
}
 
/* Handle */
.aside-nav-content::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 5px;
  height: 30px;
}

.aside-nav-content div{
  width: calc(50% - 10px);
  padding: 0px 0px 45px;
  margin: 0px 5px;
  font-size: 24px;
  font-family: "bold";
  color: white;
}

.aside-nav-content div:nth-child(3){
  padding: 0;
}

.aside-nav ul{
  margin: 0;
  padding: 0;
  margin-top: 45px;
}
.aside-nav li{
  font-size: 17px;
  font-family: "regular";
  width: calc(100% - 10px);
  padding-bottom:18px;
}
.aside-nav a{
  color: white;
}
@media (max-width: 767px) and (min-width: 480px){
    .aside-nav {
    width: 360px;
    right: -360px;
} 
.aside-nav-content div{
  width: calc(100% - 10px);
}

.aside-nav-content{
  overflow-y: scroll;
}
}



.aside-nav-content a{
  position: relative;
  cursor: pointer;
}


.aside-nav-content a:hover::before {
width: 100%;
display: block;
height: 1px;
background: #fff;
position: absolute;
left: 0;
bottom: 0;
transition: all 0.2s linear;
}

.aside-nav-content a::before {
content: "";
display: block;
width: 0;
height: 1px;
background: #fff;
position: absolute;
left: 0;
bottom: 0;
transition: all 0.2s linear;
}
.fixed-nav.small-nav{
  position: fixed;
  top : 25px;
}
.small-nav{
  width: 70px;
  position: absolute;
  left: 40px;
  top: 240px;
  z-index: 10;
}
.small-nav li{
  width: 70px;
  height: 70px;
  position: relative;
  margin-bottom: 20px;

}
.small-nav img{
  display: block;
  max-height: 38px;
  max-width: 38px;
  position: absolute;

}

.small-nav a{
  transition: .3s linear;
  border-radius: 10px;
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-image: linear-gradient(to top right, #DCDCDC , #DCDCDC);
}

.small-nav a:hover {
  box-shadow: -1px 3px 20px 0px rgba(153, 154, 155, 0.515);
  transition: .3 linear;
 background-image: linear-gradient(to top right, #13A0E2 , #0FC8F0);
}

.active-smnav a{
  box-shadow: -1px 3px 20px 0px rgba(153, 154, 155, 0.515);
  transition: .3 linear;
 background-image: linear-gradient(to top right, #13A0E2 , #0FC8F0); 
}

.small-nav a:hover img{
  transition: .3s linear;
transform: scale(1.1);
}
.blues{
  width: 330px;
  height: 120%;
  background-color:#F8FCFE;
  position: fixed;
  top: -10%;
  right: 0;
  clip-path: ellipse(100% 50% at 100% 50%);
  animation: animefirst 2s ;
}

.blues>div{
  width: 330px;
  height: 110%;
  background: #eaf6fd;
  position: fixed;
  top: -5%;
  right: -110px;
  clip-path: ellipse(100% 50% at 100% 50%);
  animation: animesecond 1.5s ;
}

.blues>div>div{
  width: 330px;
  height: 100%;
  background: #d5edfa;
  position: fixed;
  top: -0%;
  right: -220px;
  clip-path: ellipse(100% 50% at 100% 50%);
  transition: all 0.9s linear;
  animation: animethird 1s ;
  z-index: 1;
}
/* Symptoms ******************************* */
h1{
    padding: 0 0 60px;
    text-align: center;
    font-size: 36px;
    color: rgb(21, 158, 227);
    font-weight: bold;
    position: relative;
    z-index: 2;
}
.symp p{
  color: #404040c7;
  font-size: 16px;
  font-family: 'regular';
  line-height: 1.75;
}

.symp{
  text-align: center;
  font-size: 16px;
}

.map-man{
  position: relative;
  background-image: url(../css/images/man.jpg);
  background-repeat: no-repeat;

}


.map-woman{
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../css/images/woman.jpg);
}

area {
  cursor: pointer;
  outline: none;
}



.symptoms-list input{
      width: 100%;
      height: 58px;
      padding: 0 50px 0 30px;
      border: 1px solid #c2c2c2;
      font-size: 17px;
      background: #fff url(../assert/icons/search_icon.svg) 
      no-repeat calc(100% - 30px) 50%;
      border-radius: 5px;
      font-family: "regular";
      color: #159ee3;
    }
  
    .symptoms-list input:focus {
      border-color: #159ee3;
    }
  
    .symptoms-list input::placeholder {
      opacity: .6;
    }


     .symptoms-list img{
        border-radius: 8px;
        width: 100%;
    }

    .symptoms-list span{
      color: #404040;
      font-size: 18px;
      line-height: 2;
    }

    .symptoms-list p{
      font-size: 14px;
      line-height: 1.57;
      color: #7c7c7c;
    }


/*icons*--------------------*/
.contact-icons li{
  position: absolute;
  z-index: 9;
  right: 20px;
  bottom: 60px;
  margin-top: 10px;
  font-size: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:  .3s;
}


.contact-icons li:first-child {
  background-color:#3B5998;
}
.contact-icons li:nth-child(2) {
  background-color:#29B200;
}
.contact-icons li:last-child {
  background-color:#EE8208;
}

.msg{
  transition:  .3s;
  z-index: 10;
  font-size: 30px;
  position: fixed;
  right: 19px;
  bottom: 59px;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background-color: #159ee3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.msg-bord2{
transition:  .3s;
height: 72px;
width: 72px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(128, 128, 128, 0.236);
position: fixed;
right: 14px;
bottom: 54px;
z-index: 10;
border-radius: 50%;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.msg-bord1{
transition:  .3s;
height: 84px;
width: 84px;
display: flex;
align-items: center;
justify-content: center;
border: 1.5px solid rgba(128, 128, 128, 0.1);
position: fixed;
right: 8px;
bottom: 48px;
z-index: 10;
border-radius: 50%;

}